*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.text-center{
    text-align: center;
}
.logout{
    display:block;
    right:0;
    top:0;
    position:fixed;
}
.mt8{
    margin-top:8px;
}
.mb0{
    margin-bottom: 0px ;
}
.mt20{
    margin-top: 20px;
}
.center{
     margin-left: auto;
     margin-right: auto;
 }
.header{
    margin-top:100px;
}

.form-center{
    width:20%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

.list{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-around;
    list-style-type:none;
}
.list li {
    cursor:pointer;
}

.list li:hover a{
    /*display:inline-block;*/
    padding:10px;
    background-color:#000;
    color:#fff;
}
.list a {
    text-decoration:none;
    padding:10px;
    color:#000;
    display:inline-block;
    background-color:#ccc;
}
.main{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.sublist{
    width:200px;
    display:block;
    list-style-type:none;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
.sublist li{
    margin:20px;
}
.sublist a {
    text-decoration:none;
    padding:10px    20px;
    color:#000;
    display:inline-block;
    background-color:#ccc;
    width:100%;
}
