*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.text-center{
    text-align: center;
}
.login-wrapper{
    margin: 200px auto;
    width:15%;
}
.login{
    width:100%;
}
.login tr{
    height:30px;
}


